Yanick Champoux <yanick@cpan.org> <yanick@babyl.dyndns.org>
Gabor Szabo <gabor@szabgab.com> <szabgab@gmail.com>
Balazs Szabo (dLux) <dlux@dlux.hu> <devnull@localhost>
Balazs Szabo (dLux) <dlux@dlux.hu> <devnull@localhost>
Balazs Szabo (dLux) <dlux@dlux.hu> <dluxhu@users.noreply.github.com>
Ricardo Signes <rjbs@cpan.org> <rjbs@semiotic.systems>
